body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Hardcode Bootstrap */

.bg-light {
    background-color: #FFFFFF !important;
    color: #506690 !important;
}

.btn-primary.btn-singin {
    background-color: #6C63FF;
    padding: 0.8rem 1rem;
}

/* a {
    color: #335eea !important;
} */


.nav-link.link-menu:hover, .nav-link.link-menu:active {
    color: #2838cb !important
}

.text-primary-color {
    color: #6C63FF !important;
}

.text-secondary-color {
    /* color: #506690 !important; */
    color: #455a64 !important;
}

.text-action-color {
    color: #2838cb !important;
}

li.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}


.product__select {
    width: 200px;
}

.carousel-item {
    height: 100%;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-inner {
    height: 500px !important;
}

/* Fullcalendar Styles */

h2.fc-toolbar-title {
    font-size: 1.3rem !important;
}

/*  */

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .hero__container > .hero__img {
    width: 600px;
    height: 600px;
} */

.hero__container > div > img {
    margin: 2rem 0; 
    height: 100%;
    width: 100%;
}

.hero__title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    overflow: hidden;
}

.hero__title > span.typed-text {
    font-weight: normal;
    color: red;
}

.hero__title > span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.hero__title > span.cursor.typing {
    animation: none;
  }

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

/* Media queries */

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 8vw;
    }
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 2.5rem;
    }
}