.product__select {
    width: 200px;
}

.carousel-item {
    height: 100%;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-inner {
    height: 500px !important;
}

/* Fullcalendar Styles */

h2.fc-toolbar-title {
    font-size: 1.3rem !important;
}


/* Media queries */

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 8vw;
    }
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 2.5rem;
    }
}